	#header {
		background-color:black; 
		color:white; 
		text-align:center; 
		padding:4%;
	
	}

	ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:gray;
	
	}

		li	{list-style-type:none;
		background-color:gray;
		color:white;
	
		}
		
		li	{float:left
		}
		
		
		li a {
		display:block;
		color:white;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
		}
	
	
		li a:hover {background-color:black;
		 
		}
		
		
		footer {
   		display: block;
   		color: black;
    	background-color: palevioletred;
    	text-align: center;
    	padding: 8px 10px;
    	clear:both;

		
					
		
		.logo {
		float: right;
		position: relative;
		margin: 0.3%;
		}		
		
		
		article {
		width:70%;
		float:left;
		padding:1%;
		}
		
		
		.img {
		float:left;
		margin:29px 20px 0 0;
		border-radius:4%
	
		}
		
		
		#form {
		width:50%;
		padding:2%;
		}
		
		
		.category{
  		position: relative;
    	display: inline-block;
   		float: left;
    	padding: 10px
    	}
    	
    	
    /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

	
