/* Home */

/* Title
h1{
    font-family: "Playfair Display";
    text-align: center;
}*/

/*Menu Nagitation*/

/*Image Slider*/

/* Artikel */

/*Gambar*/

p{
    font-family: "Lato";  
    font-size: 120%;
}



/*Footer*/

footer {
    display: block;
    color: black;
    background-color: #ff7373;
    text-align: center;
    padding: 8px 10px;
    clear:both;
    font-family: "Lato"
}

/* Review */
/* Contact US */
