/* Home */

/*Title*/

h1{
    text-align: center;
}

h1::after{
    display: block;
    width: 6cm;
    content: "";
    border: 3px solid #ff7373;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    margin: auto;
    color: gray;
}

/*Menu Nagitation*/

/*Image Slider*/

/* Artikel */

/*Gambar*/

img:hover {
    opacity: 0.2;
    filter: alpha(opacity=100);
}

p{
    font-family: "Lato";  
    font-size: 120%;
} 

/*Footer*/

footer{
    display: block;
    color: white;
    margin-top: 1.5cm;
    background-color: #ff7373;
    text-align: center;
    padding: 10px 16px;
    clear:both;
}

}
/* Review */
/* Contact US */
